#tabPane
{
    -fx-tab-max-height: 2em;
    -fx-tab-min-height: 2em;

    -fx-tab-max-width: 7em;
    -fx-tab-min-width: 7em;
}

.tab .tab-label
{
    -fx-background-color: #00FFFF;
    -fx-alignment: center;
}
.tab{
    -fx-background-color: #00FFFF;
    -fx-background-insets: 0.0;
    -fx-padding: 0 5 0 5;
}
.tab-pane * .tab-header-background
{
    -fx-background-color: #2C3539;
}

